<li>
    <% if(locals.user && (locals.user.id == post.user.id || locals.user.id == comment.user.id) ){ %>
        <small>
            <a href="/comments/destroy/<%= comment.id %>">x</a>
        </small>
    <% } %>
    <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name %>
    </small>
</li>