<h1>
    Welcome to Codeial <%= title %>!
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form method="post" action="" id="new-post-form">
        <textarea name="content" cols="30" rows="3" placeholder="Type here.."></textarea>
        <input type="submit" value="Post">
    </form>
</section>