<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Welcome <%= user.name %> to your Codeial profile!
</h1> 

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<a href="/users/sign-in" id="sign-out">Sign out</a>
<!-- <button id="sign-out">Sign out</button> -->

<script type="text/javascript" src="/js/user_profile.js"></script>
