<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>

        <h1>Welcome to your Codeial profile!</h1> 
        
        <%- include('_footer'); %>
    </body>
</html>